
[gdrive]
FINETUNED_FILE_ID = "<your_google_drive_file_id>"
BASE_FILE_ID = "<your_google_drive_file_id>"
FINETUNED_MODEL_PATH = "path/to/finetuned_model.nemo"
BASE_MODEL_PATH = "path/to/base_model.nemo"

[gcp_service_account]
# <PUT GOOGLE CLOUD SERVICE ACCOUNT CREDS HERE>